certifi==2019.11.28
chardet==3.0.4
Click==7.0
export==0.1.2
Flask==1.1.1
gunicorn==20.0.4
idna==2.8
itsdangerous==1.1.0
Jinja2==2.10.3
MarkupSafe==1.1.1
pipenv==2018.11.26
public==2019.4.13
pymessenger==0.0.2
requests==2.22.0
requests-toolbelt==0.9.1
simple-http-server==0.1.7
six==1.13.0
touch==2019.4.13
urllib3==1.25.7
utils==0.9.0
values==2019.4.13
virtualenv==16.7.8
virtualenv-clone==0.5.3
virtualenvwrapper-win==1.2.5
Werkzeug==0.16.0
